
<div>
  <%= link_to "新規投稿", new_post_path %>
</div>

<div class="container">
  <div class="row">
      <h4 class="bg-light">投稿一覧</h4>

      <table class ="table">
          <tr>
              <th>プロフィール画像</th>
              <th>名前</th>
              <th>投稿</th>
              <th>評価</th>
          </tr>
          <% @posts.each do |posted| %>
          <tr>
              <td><%= posted.customer.get_profile_image(80, 80) %></td>
              <td>
                  <%= link_to post_path(posted.id) do %>
                  <%= posted.customer.name %>
                  <% end %>
              </td>
              <td><%= posted.body %></td>
              <td><%= render "star", posts: posted %></td>
          </tr>
          <% end %>
      </table>
  </div>
</div>