
<p class="offset-9">
  <%= link_to new_post_path do %>
    <i class="fa-solid fa-circle-plus fa-2xl"></i>
  <% end %>
</p>

       <%= link_to '新しい順', posts_path(latest: "true") %>
       |<%= link_to '古い順', posts_path(old: "true") %>
       |<%= link_to '評価の高い順', posts_path(star_count: "true") %>


<div class="texts-wrapper">
   <div class="contents-title text-center">
     <h3>投稿一覧</h3>
     <div class="row">
       <% @posts.each do |posted| %>
         <div class="col-12 col-md-6 col-lg-4">
           <div class="card m-3">
            <div class="swiper-container">
              <% if posted.images.attached? %>
                <% if posted.images.length < 2 %>
                  <% posted.images.each do |image| %>
                    <div class= "swiper-wrapper img-index">
                      <div class="swiper-slide">
                        <%= image_tag image, class: "post-img"%>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <div class= "swiper-wrapper img-index">
                    <% posted.images.each do |image| %>
                      <div class="swiper-slide">
                        <%= image_tag image, class: " index-img " %>
                      </div>
                    <% end %>
                  </div>
                  <div class="swiper-pagination swiper-pagination-white"></div>
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                <% end %>
              <% else %>
                <div class="swiper-slide">
                  <%= image_tag 'no_image.jpg' %>
                </div>
              <% end %>
            </div>


               <div class="card-body">
                 <p class="card-title">
                  <%= link_to customer_path(posted.customer.id) do %>
                    <%= posted.customer.name %>
                  <% end %>
                 </p>
                 <p>
                  <%= link_to post_path(posted.id) do %>
                    <%= posted.body %>
                  <% end %>
                 </p>
                 <p>
                   <%= link_to ski_resort_path(posted.ski_resort_id) do %>
                     <%= posted.ski_resort.name %>
                   <% end %>
                 </p>
                 <p>
                   <%= render "star", posts: posted %>
                 </p>
                 <p id="favorite_buttons_<%= posted.id %>">
                   <%= render "public/favorites/btn", posts: posted %>
                 </p>
               </div>
           </div>
         </div>
       <% end %>
     </div>
   </div>
  <%= paginate @posts %>
</div>