
<p class="offset-9">
  <%= link_to new_post_path do %>
    <i class="fa-solid fa-circle-plus fa-2xl"></i>
  <% end %>
</p>

<div class="container">
  <div class="row">
      <h4 class="bg-light">投稿一覧</h4>

      <table class ="table">
          <tr>
              <th>プロフィール画像</th>
              <th>名前</th>
              <th>投稿</th>
              <th>いいね</th>
              <th>コメント数</th>
              <th>評価</th>
          </tr>
          <% @posts.each do |posted| %>
          <tr>
              <td><%= image_tag posted.customer.get_profile_image(80, 80) %></td>
              <td>
                <%= link_to customers_mypage_path(posted.customer.id) do %>
                  <%= posted.customer.name %>
                <% end %>
              </td>
              <td>
                <%= link_to post_path(posted.id) do %>
                  <%= posted.body %>
                <% end %>
              </td>
              <td id="favorite_buttons_<%= posted.id %>">
                <%= render "public/favorites/btn", posts: posted %>
              </td>
              <td><%= posted.post_comments.count %></td>
              <td><%= render "star", posts: posted %></td>
          </tr>
          <% end %>
      </table>
  </div>
</div>