

<div class="container mt-4">
  <div class="row no-gutters">
      <h4 class="mb-4 bg-light " style="height:30px">新規投稿</h4>
      <div class=" text-align-center pt-5">
          <%= form_with model: @post do |f| %>
        <table class="table table-borderless">

          <tr>
            <td>
            <%= f.label :image, "スキー場画像" %>
            <%= f.file_field :images, multiple: true  %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :body, "投稿内容" %>
              <%= f.text_area :body %>
            </td>
          </tr>

          <tr>
            <td>
              <%= f.label :ski_resort_id, "スキー場名" %>
              <%= f.collection_select(:ski_resort_id, @ski_resorts, :id, :name, {prompt: "--選択してください--"}) %>
            </td>
          </tr>

          <tr>
            <td>
              <% if @post.id.nil? %>
                <div class="form-group" id="star">
                  <%= f.label :star, "レビュー" %>

                  <div id="post_raty"></div>
                </div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#post_raty');
                    if (elem == null) return;

                    elem.innerHTML = ""
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      scoreName: 'post[star]',
                    };
                    raty(elem, opt);
                  });
                </script>
              <% else %>
                <div class="form-group">
                  <%= render "star", posts: @post %>
                </div>
              <% end %>
            </td>
          </tr>

          <tr>
            <td><%= f.submit '投稿', class:"btn btn-flex align-btn-cnter  btn-x btn-success" %></td>
          </tr>

        </table>
        <% end %>
      </div>
  </div>
</div>