
    　  <!--写真-->

        <% if @post.images.attached? %>
            <div class="swiper-container">
              <div class= "swiper-wrapper img-index">
                <% @post.images.each do |image| %>
                  <%= image_tag image, class: "swiper-slide index-img swpeImg" %>
                <% end %>
              </div>
              <div class="swiper-button-prev swiper-button-white"></div>
              <div class="swiper-button-next swiper-button-white"></div>
              <div class="swiper-pagination"></div>
            </div>
        <% end %>

      <!--投稿情報-->

<div class="container">
  <h4 class="bg-light text-center mt-4" style="width:150px">投稿詳細</h4>
    <div class="row">
      <div class="col-7">
        <table class="table">
          <tr>
            <th style="width:150px">投稿者名</th>
            <th style="width:260px"><%= @post.customer.name %></th>
          </tr>
          <tr>
            <th>投稿内容</th>
            <th><%= @post.body %></th>
          </tr>
          <tr>
            <th>スキー場</th>
            <th>
              <%= link_to ski_resort_path(@post.ski_resort_id) do %>
                <%= @post.ski_resort.name %>
              <% end %>
            </th>
          </tr>
          <tr>
            <th>いいね</th>
            <th id="favorite_buttons_<%= @post.id %>">
              <%= render "public/favorites/btn", posts: @post %>
            </th>
          </tr>
          <tr>
            <th>レビュー</th>
            <th><%= render "star", posts: @post %></th>
          </tr>
        </table>

        <% if @post.customer == current_customer %>
          <%= link_to "編集する", edit_post_path(@post), class:"btn btn-success mr-5 ml-5" %><%= link_to "削除", post_path(@post), class: 'btn btn-sm btn-danger', method: :delete %>
        <% end %>

      </div>

      <div class="col-5">
        <h4 class="bg-light text-center mt-4" style="width:150px">コメント一覧</h4>
        <table class="table">
          <% if @post.post_comments.exists? %>
          <tr>
            <th>ユーザー名</th>
            <th>コメント</th>
            <th></th>
          </tr>

          <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= post_comment.customer.name %>
            </td>
            <td>
              <%= post_comment.comment %>
            </td>
            <% if post_comment.customer == current_customer %>
            <td>
              <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), class: 'btn btn-sm btn-danger', method: :delete %>
            </td>
            <% end %>
          </tr>
            <% end %>
          <% end %>
        </table>

        <%= form_with model: [@post, @post_comment], method: :post do |f| %>
          <%= f.text_area :comment, placeholder: "コメント" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
</div>