
<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="col-2">

    </div>

    <!--投稿内容-->
    <div class="col-9">
      <h4 class="bg-light">投稿一覧</h4>

         <%= link_to '新しい順', admin_posts_path(latest: "true") %>
         |<%= link_to '古い順', admin_posts_path(old: "true") %>
         |<%= link_to '評価の高い順', admin_posts_path(star_count: "true") %>

      <table class ="table">
          <tr>
              <th>プロフィール画像</th>
              <th>名前</th>
              <th>投稿</th>
              <th>スキー場</th>
              <th>投稿画像数</th>
              <th>評価</th>
          </tr>
          <% @posts.each do |posted| %>
          <tr>
              <td><%= image_tag posted.customer.get_profile_image(80, 80) %></td>
              <td>
                <%= link_to admin_customer_path(posted.customer.id) do %>
                  <%= posted.customer.name %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_post_path(posted.id) do %>
                  <%= posted.body %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_ski_resort_path(posted.ski_resort_id) do %>
                  <%= posted.ski_resort.name %>
                <% end %>
              </td>
              <td><%= posted.post_comments.count %></td>
              <td><%= render "public/posts/star", posts: posted %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>