<header>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <!--ロゴ-->
 <div>
   <%= link_to root_path do %>
   　<%= image_tag 'logo.png', :size => '120x120' %>
   <% end %>
 </div>

 <!--ようこそ-->
 <% if customer_signed_in? %>
 <div class="mx-auto col-4">
   <p class="my-auto text-right">ようこそ、<%= customer.name %>さん！</p>
 </div>
 <% else %>
 <div class="mx-auto col-6"> </div>
 <% end %>

 <!--リンク＆サーチエリア-->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
 </button>
 <div class="block">
   <div class="collapse navbar-collapse row" id="navbarNavDropdown">
     <ul class="navbar-nav header-button">
       <% if request.fullpath.include? "/admin" %>
         <%# adminがログイン時のヘッダー %>
         <% if admin_signed_in? %>
           <li class="nav-item"><%= link_to "投稿一覧", admin_posts_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "会員一覧",  admin_customers_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "スキー場一覧", admin_ski_resorts_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "都道府県一覧", admin_prefectures_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %></li>
         <%# adminがログアウト時のヘッダー　%>
         <% else %>
           <li class="nav-item"><%= link_to "About", homes_about_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "ログイン", new_admin_session_path, class: "btn btn-sm btn-outline-dark" %></li>
         <% end %>
       <% else %>

         <%# customerがログイン時のヘッダー　%>
         <% if customer_signed_in? %>
           <li class="nav-item"><%= link_to "マイページ", customer_path(current_customer.id), class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "投稿一覧", posts_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "スキー場一覧", ski_resorts_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-sm btn-outline-dark" %></li>
         <%# customerログアウト時のヘッダー　%>
         <% else %>
         　 <li class="nav-item"><%= link_to "About", homes_about_path, class:"btn btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-outline-dark" %></li>
           <li class="nav-item"><%= link_to "ゲストログイン", customers_guest_sign_in_path, class: "btn btn-sm btn-outline-dark", method: :post %></li>
         <% end %>
       <% end %>
     </ul>
   </div>
  </div>
 <nav>
</header>